<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<head>
<meta charset="UTF-8">
<title>Online Streaming</title>

<!-- 각 페이지에 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
	//회원가입이 실패했을 때
		$(document).ready(function() {
			var errorMessage = [[${errorMessage}]];
			if(errorMessage != null) {
				alert(errorMessage);
			}
		});
	</script>
</th:block>

<!-- 각 페이지에 css가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
		.fieldError {
		color: #bd2130;
		}
	</style>
</th:block>

</head>
<body>
	<div layout:fragment="content">
 <section class="fullPage-section p-0 bg-color">
      <div class="full-page__wrapper">
        <div class="full-page__image">
          <div class="full-page__logo">
            <a href="/"
              ><img src="/images/logo.png" alt="logo"
            /></a>
          </div>
          <img src="/images/comming-soon.jpg" alt="comming-soon" />
          <div class="contact__overlay">
            <div class="contact__info">
              <h2 class="section__title">당신의 이야기를 들려주세요!</h2>
              <p class="content">
                우리는 사용자분들에게 도움을 주고 대답하기 위해 여기에 있습니다.
                <br />
                문의주시면 최대한 빨리 답변 드리겠습니다. <br />
                하지만 최대 24시간이 소요될 수 있습니다.
              </p>
              <div class="contact__meta">
                <ul class="contact__meta__list">
                  <li>
                    <div class="icon">
                      <img src="/images/email.png" alt="call" />
                    </div>
                    <a href="luvem01@naver.com">luvem01@naver.com</a>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="/images/call.png" alt="call" />
                    </div>
                    <a href="tel:01031038512">010-3103-8512</a>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="/images/location.png" alt="location" />
                    </div>
                    05048, Gwangin-gu, Seoul
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="full-page__inner">
          <div class="full-page__content">
            <div class="full-page__logo d-md-none d-bock">
              <a href="main.html"
                ><img src="/images/logo.png" alt="logo"
              /></a>
            </div>
            <div class="form__inner">
              <form class="form__wrapper p-0" action="/members/update"  method="post" th:object="${userInfoDto}" enctype="multipart/form-data">
                <h2 class="popup__title">Update Account</h2>
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                  <label th:for="name">Full Name</label>
                  <input
                    type="text"
                    th:field="*{name}"
                    class="form-control"
                    required=""
                    data-error="Please enter name"
                    placeholder="Enter your full name"
                  />
                  <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect Date</p>
                </div>
                <div class="form-group">
                  <label th:for="email">Email</label>
                  <input
                    type="email"
                    th:field="*{email}"
                    class="form-control"
                    required=""
                    placeholder="Enter your email"
                    readonly="readonly"
                  />
                  <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect Date</p>
                </div>
                <div class="form-group">
                  <label th:for="password">Password</label>
                  <input
                    type="password"
                    th:field="*{password}"
                    class="form-control"
                    required=""
                    data-error="Please enter password"
                    placeholder="Password"
                  />
                  <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">Incorrect Date</p>
                </div>
                <div class="submit__btn">
                  <button id="btn-update" type="submit" class="btn btn-primary mt-0 w-100">
                    수정하기
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- Contact Page End  -->
	</div>
</body>
</html>

