<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Online Streaming</title>

<!-- 각 페이지에 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
	//회원가입이 실패했을 때
		$(document).ready(function() {
			var errorMessage = [[${errorMessage}]];
			if(errorMessage != null) {
				alert(errorMessage);
			}
			bindDomEvent();
		});
		
		//파일 첨부시 이미지 파일인지 검사를 한다.
		function bindDomEvent(){
            $(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();  //이미지 파일명
                var fileExt = fileName.substring(fileName.lastIndexOf(".")+1); // 확장자 추출
                fileExt = fileExt.toLowerCase(); //소문자 변환

                if(fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp"){
                    alert("이미지 파일만 등록이 가능합니다.");
                    return;
                }

                $(this).siblings(".custom-file-label").html(fileName);
            });
        }
	</script>
	
	<script type="text/javascript">
$(document).ready(function(){
	$("#imgFileUp").on('change', function(){  // 값이 변경되면
		if(window.FileReader){  // modern browser
			var filename = $(this)[0].files[0].name;
		} else {  // old IE
 			var filename = $(this).val().split('/').pop().split('\\').pop();  // 파일명만 추출
		}

 		// 추출한 파일명 삽입
		$("#imgfileName").val(filename);
	});
	
	$("#videoFileUp").on('change', function(){  // 값이 변경되면
		if(window.FileReader){  // modern browser
			var filename = $(this)[0].files[0].name;
		} else {  // old IE
 			var filename = $(this).val().split('/').pop().split('\\').pop();  // 파일명만 추출
		}

 		// 추출한 파일명 삽입
		$("#videofileName").val(filename);
	});
	
});
</script>
</th:block>

<!-- 각 페이지에 css가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
		.fieldError {
		color: #bd2130;
		}
		.input-group {
            margin-bottom : 15px
        }
        .img-div {
            margin-bottom : 10px
        }
        .fieldError {
            color: #bd2130;
        }
	</style>
</th:block>

</head>
<body>
	<div layout:fragment="content">
		
		<section class="movies__section bg-color">
      <div class="container">
      	<div class="form__inner">
              <form method="post" action="/upload" enctype="multipart/form-data" class="form__wrapper p-0" th:object="${movieFormDto}">
                  <div class="section-title">
                <h2 class="main-title">영화등록</h2>
                <input type="hidden" th:field="*{id}">
              </div>
                <div class="form-group">
                  <label for="title">제목</label>
                  <input
                    type="text"
                    name="title"
                    id="title"
                    th:field="*{title}"
                    class="form-control"
                    required=""
                    data-error="Please enter title"
                    placeholder="Enter your title"
                  />
                </div>
                 <div class="form-group">
                  <label for="category">장르</label>
                  <input
                    type="text"
                    name="category"
                    id="category"
                    th:field="*{category}"
                    class="form-control"
                    required=""
                    data-error="Please enter category"
                    placeholder="Enter your category"
                  />
                </div>
                <div class="form-group">
                  <label for="openDate">개봉날짜</label>
                  <input
                    type="text"
                    name="openDate"
                    id="openDate"
                    th:field="*{openDate}"
                    class="form-control"
                    required=""
                    data-error="Please enter openDate"
                    placeholder="Enter your openDate"
                  />
                </div>
                <div class="form-group">
                  <label for="story">줄거리</label>
                  <div class="col-12">
                    <div class="form-group">
                      <textarea
                        name="story"
                    	th:field="*{story}"
                        cols="30"
                        rows="5"
                        class="form-control"
                        placeholder="Enter your story"
                        spellcheck="false"
                      ></textarea>
                    </div>
                  </div>
                </div>
                
				 <!-- 파일등록 -->
				 
  				 <div class="form-group" style="margin: 8px 0 8px;">				
				<input id="videofileName" class="form-control" value="영화선택" style="width:85%; display: inline;">
			
						<div class="fileRegiBtn">
							<label for="videoFileUp">파일 열기</label>
							<input type="file" id="videoFileUp" name="videoFile">
						</div>				
				</div>	
						
				<div class="form-group" style="margin: 8px 0 8px;">				
				<input id="imgfileName" class="form-control" value="이미지선택" style="width:85%; display: inline;">
			
						<div class="fileRegiBtn">
							<label class="custom-file-label"  for="imgFileUp">파일 열기</label>
							<input class="custom-file-input" type="file" id="imgFileUp" name="imgFile">	
						</div>				
				</div>
				<!-- 커버이미지 들어오는 부분 (임시로 이미지를 넣어줬다)-->
				
				<div class="selectCover" style=" padding-left: 0;">		
				 	<img id="cover" src="/images/comming-soon.jpg" style="width: 182px; height: 268px;"/>				
				 </div>   
				           
                <div class="submit__btn">
                  <button th:formaction="@{/admin/upload}" type="submit" class="btn btn-primary mt-0 w-100">
                    등록하기
                  </button>
                </div>
                
              </form>
            </div>
      </div>
      </section>
	</div>
</body>
</html>

