<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Online Streaming</title>
</head>
<body>
	<!-- th:fragment 다른 페이지에 포함시킬 영역을 만들어 준다. -->
	<div th:fragment="footer">
		<!-- Footer Section Start -->
	    <footer class="footer__section bg-color">
	      <div class="container">
	        <div class="row">
	          <div class="col-lg-3 col-md-12 col-sm-12">
	            <div class="footer__wrapper">
	              <div class="footer__widget d-block">
	                <div class="footer__logo">
	                  <a href="main.html"
	                    ><img src="/images/logo.png" alt="logo"
	                  /></a>
	                </div>
	              </div>
	            </div>
	          </div>
	          <div class="col-lg-3 col-md-12 col-sm-12">
	            <div class="footer__wrapper">
	              <div class="footer__widget d-block">
	                <address>
	                  <div class="title"><a href="/contact">자주 묻는 질문</a></div>
	                  <a href="#"
	                    ><img
	                      src="/images/location.png"
	                      alt="location-icon"
	                    />05048, Gwangin-gu, Seoul
	                  </a>
	                  <a href="luvem01@naver.com"
	                    ><img
	                      src="/images/email.png"
	                      alt="email-icon"
	                    />luvem01@naver.com</a
	                  >
	                  <a href="tel:01031038512"
	                    ><img
	                      src="/images/call.png"
	                      alt="call-icon"
	                    />010-3103-8512</a
	                  >
	                </address>
	              </div>
	            </div>
	          </div>
	
	          <div class="col-lg-2 col-md-3 col-sm-12">
	            <div class="footer__wrapper">
	              <div class="footer__widget">
	                <div class="title">Categories</div>
	                <ul>
	                  <li><a href="#">Comedy</a></li>
	                  <li><a href="#">TV Shows</a></li>
	                  <li><a href="#">Comedy</a></li>
	                  <li><a href="#">Horror</a></li>
	                </ul>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="footer__bottom">
	        <div class="container">
	          <div class="row">
	            <div class="col-12">
	              <div class="footer__content text-center">
	                <div class="content">
	                  <p>
	                    &copy;
	                    <script>
	                      document.write(new Date().getFullYear());
	                    </script>
	                    by <a href="Http://www.bootstrapmb.com">bootstrapMB</a>. All
	                    rights reserved
	                  </p>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </footer>
	    <!-- Footer Section End -->
	</div>
</body>
</html>