<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Online Streaming</title>
<th:block layout:fragment="script">
	<script th:inline="javascript">
/*         function page(page){
            var searchQuery = $("#searchQuery").val();

            location.href="/" + page + "?&searchQuery=" + searchQuery;
        } */
        
        function video() {

            var url = "/storagevideo";

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                dataType : "json",
                cache   : false,
                error : function(jqXHR, status, error){
                    if(jqXHR.status == '401'){
                        location.href='/members/login';
                        alert('로그인 후 이용해주세요');
                    } else{
                    }
                }
            });            
		}
	</script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .card-text{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        a:hover{
            text-decoration:none;
        }
        .center{
            text-align:center;
        }
    </style>
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<!-- Banner Section Start -->
    <section class="banner__section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="hero__text">
              <h1 class="hero__title">World Best<span>TV</span></h1>
              <ul class="hero__meta">
                <li>
                  <span class="quality">HD</span>
                  <span>Drama</span>
                </li>
                <li>
                  <img src="/images/calender.png" alt="calender" />2023.03
                </li>
                <li>
                  <img src="/images/clock.png" alt="clock" /> 12:00
                </li>
              </ul>

              <div class="hero__btn">
                <a
                  data-fancybox=""
                  data-width="640"
                  data-height="360"
                  data-small-btn="true"
                  class="btn btn-outline"
                  href="https://youtu.be/fk8vvmHIWAA"
                  >Watch now
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Banner Section End -->
    
    <!-- Movies Section Start -->
    <section class="movies__section bg-color">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title__wrapper">
              <div class="section-title">
                <h4 class="sub-title">Online Streaming</h4>
                <h2 class="main-title">Upcoming Movies</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="tvShow-tab-pane"
                role="tabpanel"
                aria-labelledby="tvShow-tab"
                tabindex="0"
              >
                <div class="content__body">
                  <div class="row">
                  <th:block th:each="movie, status: ${movies.getContent()}">
                   <div class="col-lg-4 col-md-6 col-sm-6">
					<div class="blog__post text-center">
                            <div class="blog__image">
                            	<!-- <a th:href="'/movie/' + ${movie.id}" class="text-dark"> -->
                                <img th:src="${movie.imgUrl}" th:alt="${movie.title}" />
                                <div class="blog__overlay">
                                    <div class="ribbon">[[${movie.openDate}]]</div>
                                    <div class="blog__meta">
                                        <p>[[${movie.category}]]</p>
                                        <!-- <a href=""><i class="far fa-heart"></i></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="blog__content">
                                <h4 class="title"><a th:href="blog-single.html">[[${movie.title}]]</a></h4>
                                <p class="content">[[${movie.story}]]</p>
                                <div class="blog__btn">
                                    <a th:href="@{${movie.videoUrl}}" class="btn btn-primary" onclick="video()">영화보기</a>
                                </div>
                            </div>
                        </div>
					 </div>
					 </th:block>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
       <!-- pagination start  -->
            <nav class="pagination__wrapper" th:with="start=${(movies.number/maxPage)*maxPage + 1}
			,end=(${(movies.totalPages == 0) ? 1 : (start + (maxPage - 1) < movies.totalPages ? start + (maxPage - 1) : movies.totalPages)})"
			aria-label="Page navigation example">
            <ul class="pagination">
                <li class="pagination__item"  th:classappend="${movies.first}?'disabled'">
                  <a class="page-link" th:href="@{'/' + '?page=' + ${movies.number-1}}"> 이전 </a>
                </li>
                <li class="pagination__item" th:each="page: ${#numbers.sequence(start, end)}"
					th:classappend="${movies.number eq page-1}?'active':''">
                  <a class="page-link" th:href="@{'/' +'?page=' + ${page-1}}">[[${page}]]</a>
                </li>
                <li class="pagination__item" th:classappend="${movies.last}?'disabled'">
                  <a class="page-link" th:href="@{'/' + '?page=' + ${movies.number+1}}"> 다음 </a>
                </li>
              </ul>
            </nav>
       <!-- pagination end -->
       <!-- url구조 -->
	</div>
    </section>
    <!-- Movies Section End -->

    <!-- Online Show Section Start -->
 <!--     <section class="onlineShow__section bg-color">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title text-center">
              <h4 class="sub-title">online Streaming</h4>
              <h2 class="main-title">Watch Shows Online</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="onlineShow__card">
              <div class="onlineShow__thumb">
                <img src="/images/m-show-01.jpg" alt="onlineShow-show" />
              </div>
              <div class="onlineShow__overlay text-center">
                <figure class="video-box">
                  <a
                    data-fancybox=""
                    data-width="640"
                    data-height="360"
                    data-small-btn="true"
                    class="video-btn"
                    href="https://www.youtube.com/watch?v=tv7LfFeamsc"
                  >
                    <img
                      src="/images/play-button.png"
                      alt="play-button"
                    />
                  </a>
                </figure>
                <div class="onlineShow__content">
                  <a href="#" class="action__btn btn btn-primary">Action</a>
                  <h4 class="onlineShow__title">Stories Of The Dark</h4>
                  <div class="release">5 Seasons - 2017</div>
                </div>
                <div class="card__action">
                  <ul>
                    <li>
                      <img src="/images/heart.png" alt="heart" />
                    </li>
                    <li>
                      <img src="/images/add.png" alt="add" />
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="onlineShow__card">
              <div class="onlineShow__thumb">
                <img src="/images/m-show-02.jpg" alt="onlineShow-show" />
              </div>
              <div class="onlineShow__overlay text-center">
                <figure class="video-box">
                  <a
                    data-fancybox=""
                    data-width="640"
                    data-height="360"
                    data-small-btn="true"
                    class="video-btn"
                    href="https://www.youtube.com/watch?v=tv7LfFeamsc"
                  >
                    <img
                      src="/images/play-button.png"
                      alt="play-button"
                    />
                  </a>
                </figure>
                <div class="onlineShow__content">
                  <a href="#" class="action__btn btn btn-primary">Action</a>
                  <h4 class="onlineShow__title">Stories Of The Dark</h4>
                  <div class="release">5 Seasons - 2017</div>
                </div>
                <div class="card__action">
                  <ul>
                    <li>
                      <img src="/images/heart.png" alt="heart" />
                    </li>
                    <li>
                      <img src="/images/add.png" alt="add" />
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="onlineShow__card">
              <div class="onlineShow__thumb">
                <img src="/images/m-show-03.jpg" alt="onlineShow-show" />
              </div>
              <div class="onlineShow__overlay text-center">
                <figure class="video-box">
                  <a
                    data-fancybox=""
                    data-width="640"
                    data-height="360"
                    data-small-btn="true"
                    class="video-btn"
                    href="https://www.youtube.com/watch?v=tv7LfFeamsc"
                  >
                    <img
                      src="/images/play-button.png"
                      alt="play-button"
                    />
                  </a>
                </figure>
                <div class="onlineShow__content">
                  <a href="#" class="action__btn btn btn-primary">Action</a>
                  <h4 class="onlineShow__title">Stories Of The Dark</h4>
                  <div class="release">5 Seasons - 2017</div>
                </div>
                <div class="card__action">
                  <ul>
                    <li>
                      <img src="/images/heart.png" alt="heart" />
                    </li>
                    <li>
                      <img src="/images/add.png" alt="add" />
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    -->
    <!-- Online Show Section End -->
	</div>
</body>
</html>